@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f7f4ed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f7f4ed;
  }
}

body {
  background: #f7f4ed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

 
 
.blobs {
  position: relative;
    
}

.blob1 {
   animation: blob-animation1 linear 10s infinite;
}
.blob2 {
   animation: blob-animation2 linear 10s infinite;
}

.blob3 {
   animation: blob-animation3 linear 10s infinite;
}

@keyframes blob-animation1 {
  0% {
    left: 0px; top: -10px;
  }
  17% {
    left: 35px; top: 60px;
  }
  39% {
    left: 75px; top: -40px;
  }
  58% {
    left: 130px; top: 20px;
  }
  76% {
    left: 30px; top: 35px;
  }
  100% {
    left: 0px; top: 10px;
  }
}

@keyframes blob-animation2 {
  0% {
    left: 0px; top: 20px;
  }
  25% {
    left: 10px; top: 50px;
  }
  50% {
    left: 50px; top: 2px;
  }
  75% {
    left: 20px; top: 20px;
  }
  100% {
    left: 0px; top: 0px;
  }
}

@keyframes blob-animation3 {
  0% {
    left: 0px; top: 0px;
  }
  25% {
    left: -6px; top: 10px;
  }
  50% {
    left: -30px; top: 73px;
  }
  75% {
    left: -10px; top: 2px;
  }
  100% {
    left: 0px; top: 0px;
  }
}
